<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Feb 24 18, 16:36</string>
      <string>glyphs.F_eb 24 18, 16_36</string>
    </array>
    <array>
      <string>Mar 18 18, 13:55</string>
      <string>glyphs.M_ar 18 18, 13_55</string>
    </array>
    <array>
      <string>Feb 3 18, 09:34</string>
      <string>glyphs.F_eb 3 18, 09_34</string>
    </array>
    <array>
      <string>Mar 17 18, 19:45</string>
      <string>glyphs.M_ar 17 18, 19_45</string>
    </array>
    <array>
      <string>Mar 17 18, 19:45.background</string>
      <string>glyphs.M_ar 17 18, 19_45.background</string>
    </array>
    <array>
      <string>Jan 20 18, 10:18</string>
      <string>glyphs.J_an 20 18, 10_18</string>
    </array>
  </array>
</plist>
