<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2FA73DBA-1C16-4290-8B02-0C39484A3183</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.lf.zero</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.tf.zero</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.zero</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
