<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>UUID0</key>
		<dict>
	</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>30</integer>
		<key>GSOffsetHorizontal</key>
		<integer>30</integer>
		<key>GSOffsetMakeStroke</key>
		<integer>1</integer>
		<key>GSOffsetProportional</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>10</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>UUID0</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>1</integer>
	<key>com.schriftgestaltung.weightValue</key>
	<real>76</real>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>Acircumflex</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>uni1EA2</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>uni01F1</string>
		<string>uni01C4</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>uni1E0C</string>
		<string>uni01F2</string>
		<string>uni01C5</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>uni1EBA</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>uni1E24</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>uni1EC8</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>uni01C7</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>uni01C8</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>uni01CA</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>uni1E44</string>
		<string>Eng</string>
		<string>uni01CB</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>Odieresis</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>uni1ECE</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>uni01EA</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>uni1E5A</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>uni1E62</string>
		<string>uni1E9E</string>
		<string>uni018F</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>uni1E6C</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>uni1EE6</string>
		<string>Uhorn</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni1EF4</string>
		<string>Ygrave</string>
		<string>uni1EF6</string>
		<string>uni1EF8</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni1E92</string>
		<string>Iacute_J.loclNLD</string>
		<string>Y.loclGUA</string>
		<string>Yacute.loclGUA</string>
		<string>Ycircumflex.loclGUA</string>
		<string>Ydieresis.loclGUA</string>
		<string>uni1EF4.loclGUA</string>
		<string>Ygrave.loclGUA</string>
		<string>uni1EF6.loclGUA</string>
		<string>uni1EF8.loclGUA</string>
		<string>Cacute.loclPLK</string>
		<string>Nacute.loclPLK</string>
		<string>Oacute.loclPLK</string>
		<string>Sacute.loclPLK</string>
		<string>Zacute.loclPLK</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>acircumflex</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>uni1E0D</string>
		<string>uni01F3</string>
		<string>uni01C6</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>uni1EBB</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>uni1E25</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>uni1EC9</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>uni0237</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>uni01C9</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>uni1E45</string>
		<string>eng</string>
		<string>uni01CC</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>odieresis</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>uni1ECF</string>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>uni01EB</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>uni1E5B</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>uni1E63</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>uni0259</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>uni1E6D</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uni1EE7</string>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1EF5</string>
		<string>ygrave</string>
		<string>uni1EF7</string>
		<string>uni1EF9</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>uni1E93</string>
		<string>iacute_j.loclNLD</string>
		<string>y.loclGUA</string>
		<string>yacute.loclGUA</string>
		<string>ycircumflex.loclGUA</string>
		<string>ydieresis.loclGUA</string>
		<string>uni1EF5.loclGUA</string>
		<string>ygrave.loclGUA</string>
		<string>uni1EF7.loclGUA</string>
		<string>uni1EF9.loclGUA</string>
		<string>cacute.loclPLK</string>
		<string>nacute.loclPLK</string>
		<string>oacute.loclPLK</string>
		<string>sacute.loclPLK</string>
		<string>zacute.loclPLK</string>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>gcircumflex.ss01</string>
		<string>gcommaaccent.ss01</string>
		<string>gdotaccent.ss01</string>
		<string>f_f</string>
		<string>uniFB01</string>
		<string>uniFB02</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>mu</string>
		<string>pi</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>uni2153</string>
		<string>uni2154</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>quotesingle.loclGUA</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>uni2003</string>
		<string>uni2002</string>
		<string>uni2005</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni2004</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>Euro</string>
		<string>florin</string>
		<string>uni20B2</string>
		<string>sterling</string>
		<string>yen</string>
		<string>uni2126</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>uni2219</string>
		<string>divide</string>
		<string>uni2215</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>uni2206</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>uni00B5</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowleft</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acute.alt</string>
		<string>breve.alt</string>
		<string>circumflex.alt</string>
		<string>grave.alt</string>
		<string>tilde.alt</string>
		<string>circumflex.alt2</string>
		<string>caron.alt</string>
		<string>acute.loclPLK</string>
		<string>acutecomb</string>
		<string>uni0306</string>
		<string>uni030C</string>
		<string>uni0327</string>
		<string>uni0302</string>
		<string>uni0326</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>dotbelowcomb</string>
		<string>gravecomb</string>
		<string>hookabovecomb</string>
		<string>uni031B</string>
		<string>uni030B</string>
		<string>uni0304</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>hookabovecomb.alt</string>
		<string>uni02BC</string>
		<string>uni02C9</string>
		<string>NULL</string>
		<string>baraccent</string>
		<string>baraccentlong</string>
		<string>baraccentmedium</string>
		<string>commaaccentinvert</string>
	</array>
</dict>
</plist>
