<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>752</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Copyright (c) 2011-2015, Omnibus-Type (www.omnibus-type.com omnibus.type@gmail.com)</string>
	<key>descender</key>
	<integer>-240</integer>
	<key>familyName</key>
	<string>Asap</string>
	<key>italicAngle</key>
	<real>-6</real>
	<key>openTypeHeadCreated</key>
	<string>2015/02/02 17:43:27</string>
	<key>openTypeNameDescription</key>
	<string>Asap is based on Ancha (designed by Pablo Cosgaya &amp; Hector Gatti). This family, specially developed for screen and desktop use, offers of a standarised character width on all styles, which helps retain the same length on all text lines. </string>
	<key>openTypeNameDesigner</key>
	<string>Pablo Cosgaya</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.omnibus-type.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. </string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Pablo Cosgaya</string>
	<key>openTypeNameManufacturerURL</key>
	<string>www.omnibus-type.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Asap</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Italic</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-242</integer>
		<integer>-232</integer>
		<integer>-212</integer>
		<integer>-204</integer>
		<integer>-9</integer>
		<integer>0</integer>
		<integer>523</integer>
		<integer>531</integer>
		<integer>700</integer>
		<integer>708</integer>
		<integer>752</integer>
		<integer>760</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>523</integer>
		<integer>533</integer>
		<integer>700</integer>
		<integer>710</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>131</integer>
		<integer>117</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>150</integer>
		<integer>159</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>italic</string>
	<key>styleName</key>
	<string>Italic</string>
	<key>trademark</key>
	<string>Asap is a trademark of Omnibus-Type.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>vendorID</key>
	<string>OMNI</string>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>7</integer>
	<key>xHeight</key>
	<integer>523</integer>
</dict>
</plist>
