<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Y.loclGUA</key>
    <string>Y_.loclG_U_A_.glif</string>
    <key>acutecomb.loclPLK</key>
    <string>acutecomb.loclP_L_K_.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>brevebelowcomb.case</key>
    <string>brevebelowcomb.case.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.loclGUA</key>
    <string>y.loclG_U_A_.glif</string>
    <key>yacute.loclGUA</key>
    <string>yacute.loclG_U_A_.glif</string>
  </dict>
</plist>
