<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colon</key>
	<dict>
		<key>zero</key>
		<integer>30</integer>
	</dict>
	<key>endash</key>
	<dict>
		<key>one</key>
		<integer>-50</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>asterisk</key>
		<integer>20</integer>
		<key>bracketright</key>
		<integer>30</integer>
		<key>parenright</key>
		<integer>30</integer>
		<key>public.kern2.quotedblright</key>
		<integer>40</integer>
		<key>question</key>
		<integer>20</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-40</integer>
		<key>public.kern2.V</key>
		<integer>-30</integer>
		<key>public.kern2.quotedblright</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-50</integer>
		<key>public.kern2.V</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>aeacute</key>
		<integer>-30</integer>
		<key>g.ss01</key>
		<integer>-20</integer>
		<key>oe</key>
		<integer>-25</integer>
		<key>ohorn</key>
		<integer>-25</integer>
		<key>ohorndotbelow</key>
		<integer>-25</integer>
		<key>oslash</key>
		<integer>-20</integer>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.c</key>
		<integer>-30</integer>
		<key>public.kern2.d</key>
		<integer>-15</integer>
		<key>public.kern2.e</key>
		<integer>-25</integer>
		<key>public.kern2.o</key>
		<integer>-25</integer>
		<key>public.kern2.quotedblright</key>
		<integer>30</integer>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>g.ss01</key>
		<integer>-20</integer>
		<key>oe</key>
		<integer>-20</integer>
		<key>ohorn</key>
		<integer>-20</integer>
		<key>ohorndotbelow</key>
		<integer>-20</integer>
		<key>oslash</key>
		<integer>-10</integer>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-30</integer>
		<key>public.kern2.c</key>
		<integer>-20</integer>
		<key>public.kern2.d</key>
		<integer>-20</integer>
		<key>public.kern2.e</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.quotedblright</key>
		<integer>30</integer>
		<key>q</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>g</key>
		<integer>-30</integer>
		<key>g.ss01</key>
		<integer>-30</integer>
		<key>oe</key>
		<integer>-40</integer>
		<key>ohorn</key>
		<integer>-30</integer>
		<key>ohorndotbelow</key>
		<integer>-30</integer>
		<key>oslash</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-40</integer>
		<key>public.kern2.c</key>
		<integer>-40</integer>
		<key>public.kern2.d</key>
		<integer>-40</integer>
		<key>public.kern2.e</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.quotedblright</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.T</key>
		<integer>30</integer>
		<key>public.kern2.V</key>
		<integer>30</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
	</dict>
</dict>
</plist>
