<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>11026325-8C31-4FAF-8B09-E11A2B5C1DE8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
