<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Y.loclGUA</key>
    <string>Y_.loclG_U_A_.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>brevebelowcomb.case</key>
    <string>brevebelowcomb.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>leftanglebracket-math</key>
    <string>leftanglebracket-math.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>primemod</key>
    <string>primemod.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>uhorntilde</key>
    <string>uhorntilde.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.loclGUA</key>
    <string>y.loclG_U_A_.glif</string>
    <key>yacute.loclGUA</key>
    <string>yacute.loclG_U_A_.glif</string>
  </dict>
</plist>
