<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>LJ</key>
    <string>L_J_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Y.loclGUA</key>
    <string>Y_.loclG_U_A_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acute.loclPLK</key>
    <string>acute.loclP_L_K_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>leftArrow</key>
    <string>leftA_rrow.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonekcomb.case</key>
    <string>ogonekcomb.case.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y.loclGUA</key>
    <string>y.loclG_U_A_.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
