<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>934</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright (c) 2019, The Asap Project Authors (https://github.com/Omnibus-Type/Asap)</string>
    <key>descender</key>
    <integer>-212</integer>
    <key>familyName</key>
    <string>Asap</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <real>406.568</real>
        <key>y</key>
        <real>761.562</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>407</integer>
        <key>y</key>
        <integer>857</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>84</integer>
        <key>x</key>
        <integer>591</integer>
        <key>y</key>
        <integer>261</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>84</integer>
        <key>x</key>
        <integer>581</integer>
        <key>y</key>
        <integer>261</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>158</integer>
        <key>y</key>
        <integer>565</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>175</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>-6</integer>
    <key>openTypeHeadCreated</key>
    <string>2018/08/12 19:58:14</string>
    <key>openTypeHheaAscender</key>
    <integer>934</integer>
    <key>openTypeHheaDescender</key>
    <integer>-212</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Pablo Cosgaya</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.omnibus-type.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Omnibus-Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.omnibus-type.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>0</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>72</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>934</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-212</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>OMNI</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1055</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>264</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-224</integer>
      <integer>-214</integer>
      <integer>-9</integer>
      <integer>0</integer>
      <integer>523</integer>
      <integer>531</integer>
      <integer>700</integer>
      <integer>708</integer>
      <integer>752</integer>
      <integer>760</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-214</integer>
      <integer>-208</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>76</integer>
      <integer>72</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>86</integer>
      <integer>91</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Italic</string>
    <key>trademark</key>
    <string>Asap is a trademark of Omnibus-Type.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>523</integer>
  </dict>
</plist>
