<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif.glif</string>
    <key>A</key>
    <string>A_.glif.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif.glif</string>
    <key>Abreveacute</key>
    <string>A_breveacute.glif.glif</string>
    <key>Abrevedotbelow</key>
    <string>A_brevedotbelow.glif.glif</string>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif.glif</string>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif.glif</string>
    <key>Abrevetilde</key>
    <string>A_brevetilde.glif.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif.glif</string>
    <key>Acircumflexdotbelow</key>
    <string>A_circumflexdotbelow.glif.glif</string>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif.glif</string>
    <key>Adotbelow</key>
    <string>A_dotbelow.glif.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif.glif</string>
    <key>Ahookabove</key>
    <string>A_hookabove.glif.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif.glif</string>
    <key>Aring</key>
    <string>A_ring.glif.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif.glif</string>
    <key>AE</key>
    <string>A_E_.glif.glif</string>
    <key>AEacute</key>
    <string>A_E_acute.glif.glif</string>
    <key>B</key>
    <string>B_.glif.glif</string>
    <key>C</key>
    <string>C_.glif.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif.glif</string>
    <key>D</key>
    <string>D_.glif.glif</string>
    <key>DZ</key>
    <string>D_Z_.glif.glif</string>
    <key>DZcaron</key>
    <string>D_Z_caron.glif.glif</string>
    <key>Eth</key>
    <string>E_th.glif.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif.glif</string>
    <key>Ddotbelow</key>
    <string>D_dotbelow.glif.glif</string>
    <key>Dz</key>
    <string>D_z.glif.glif</string>
    <key>Dzcaron</key>
    <string>D_zcaron.glif.glif</string>
    <key>E</key>
    <string>E_.glif.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif.glif</string>
    <key>Ecircumflexacute</key>
    <string>E_circumflexacute.glif.glif</string>
    <key>Ecircumflexdotbelow</key>
    <string>E_circumflexdotbelow.glif.glif</string>
    <key>Ecircumflexgrave</key>
    <string>E_circumflexgrave.glif.glif</string>
    <key>Ecircumflexhookabove</key>
    <string>E_circumflexhookabove.glif.glif</string>
    <key>Ecircumflextilde</key>
    <string>E_circumflextilde.glif.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif.glif</string>
    <key>Edotbelow</key>
    <string>E_dotbelow.glif.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif.glif</string>
    <key>Ehookabove</key>
    <string>E_hookabove.glif.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif.glif</string>
    <key>Etilde</key>
    <string>E_tilde.glif.glif</string>
    <key>F</key>
    <string>F_.glif.glif</string>
    <key>G</key>
    <string>G_.glif.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif.glif</string>
    <key>Gcommaaccent</key>
    <string>G_commaaccent.glif.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif.glif</string>
    <key>H</key>
    <string>H_.glif.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif.glif</string>
    <key>Hdotbelow</key>
    <string>H_dotbelow.glif.glif</string>
    <key>I</key>
    <string>I_.glif.glif</string>
    <key>IJ</key>
    <string>I_J_.glif.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif.glif</string>
    <key>Idotbelow</key>
    <string>I_dotbelow.glif.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif.glif</string>
    <key>Ihookabove</key>
    <string>I_hookabove.glif.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif.glif</string>
    <key>J</key>
    <string>J_.glif.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif.glif</string>
    <key>K</key>
    <string>K_.glif.glif</string>
    <key>Kcommaaccent</key>
    <string>K_commaaccent.glif.glif</string>
    <key>L</key>
    <string>L_.glif.glif</string>
    <key>LJ</key>
    <string>L_J_.glif.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif.glif</string>
    <key>Lcommaaccent</key>
    <string>L_commaaccent.glif.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif.glif</string>
    <key>Lj</key>
    <string>L_j.glif.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif.glif</string>
    <key>M</key>
    <string>M_.glif.glif</string>
    <key>N</key>
    <string>N_.glif.glif</string>
    <key>NJ</key>
    <string>N_J_.glif.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif.glif</string>
    <key>Ndotaccent</key>
    <string>N_dotaccent.glif.glif</string>
    <key>Eng</key>
    <string>E_ng.glif.glif</string>
    <key>Nj</key>
    <string>N_j.glif.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif.glif</string>
    <key>O</key>
    <string>O_.glif.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif.glif</string>
    <key>Ocircumflexdotbelow</key>
    <string>O_circumflexdotbelow.glif.glif</string>
    <key>Ocircumflexgrave</key>
    <string>O_circumflexgrave.glif.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif.glif</string>
    <key>Odotbelow</key>
    <string>O_dotbelow.glif.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif.glif</string>
    <key>Ohookabove</key>
    <string>O_hookabove.glif.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif.glif</string>
    <key>Ohornacute</key>
    <string>O_hornacute.glif.glif</string>
    <key>Ohorndotbelow</key>
    <string>O_horndotbelow.glif.glif</string>
    <key>Ohorngrave</key>
    <string>O_horngrave.glif.glif</string>
    <key>Ohornhookabove</key>
    <string>O_hornhookabove.glif.glif</string>
    <key>Ohorntilde</key>
    <string>O_horntilde.glif.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif.glif</string>
    <key>OE</key>
    <string>O_E_.glif.glif</string>
    <key>P</key>
    <string>P_.glif.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif.glif</string>
    <key>Q</key>
    <string>Q_.glif.glif</string>
    <key>R</key>
    <string>R_.glif.glif</string>
    <key>Racute</key>
    <string>R_acute.glif.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif.glif</string>
    <key>Rcommaaccent</key>
    <string>R_commaaccent.glif.glif</string>
    <key>Rdotbelow</key>
    <string>R_dotbelow.glif.glif</string>
    <key>S</key>
    <string>S_.glif.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif.glif</string>
    <key>Scommaaccent</key>
    <string>S_commaaccent.glif.glif</string>
    <key>Sdotbelow</key>
    <string>S_dotbelow.glif.glif</string>
    <key>uni1E9E</key>
    <string>uni1E_9E_.glif.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif.glif</string>
    <key>T</key>
    <string>T_.glif.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif.glif</string>
    <key>Tcedilla</key>
    <string>T_cedilla.glif.glif</string>
    <key>uni021A</key>
    <string>uni021A_.glif.glif</string>
    <key>Tdotbelow</key>
    <string>T_dotbelow.glif.glif</string>
    <key>U</key>
    <string>U_.glif.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif.glif</string>
    <key>Udotbelow</key>
    <string>U_dotbelow.glif.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif.glif</string>
    <key>Uhookabove</key>
    <string>U_hookabove.glif.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif.glif</string>
    <key>Uhornacute</key>
    <string>U_hornacute.glif.glif</string>
    <key>Uhorndotbelow</key>
    <string>U_horndotbelow.glif.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif.glif</string>
    <key>Uhornhookabove</key>
    <string>U_hornhookabove.glif.glif</string>
    <key>Uhorntilde</key>
    <string>U_horntilde.glif.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif.glif</string>
    <key>Uring</key>
    <string>U_ring.glif.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif.glif</string>
    <key>V</key>
    <string>V_.glif.glif</string>
    <key>W</key>
    <string>W_.glif.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif.glif</string>
    <key>X</key>
    <string>X_.glif.glif</string>
    <key>Y</key>
    <string>Y_.glif.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif.glif</string>
    <key>Ydotbelow</key>
    <string>Y_dotbelow.glif.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif.glif</string>
    <key>Yhookabove</key>
    <string>Y_hookabove.glif.glif</string>
    <key>Ytilde</key>
    <string>Y_tilde.glif.glif</string>
    <key>Z</key>
    <string>Z_.glif.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif.glif</string>
    <key>Zdotbelow</key>
    <string>Z_dotbelow.glif.glif</string>
    <key>Iacute_J.loclNLD</key>
    <string>I_acute_J_.loclN_L_D_.glif.glif</string>
    <key>Y.loclGUA</key>
    <string>Y_.loclG_U_A_.glif.glif</string>
    <key>Yacute.loclGUA</key>
    <string>Y_acute.loclG_U_A_.glif.glif</string>
    <key>Ycircumflex.loclGUA</key>
    <string>Y_circumflex.loclG_U_A_.glif.glif</string>
    <key>Ydieresis.loclGUA</key>
    <string>Y_dieresis.loclG_U_A_.glif.glif</string>
    <key>Ydotbelow.loclGUA</key>
    <string>Y_dotbelow.loclG_U_A_.glif.glif</string>
    <key>Ygrave.loclGUA</key>
    <string>Y_grave.loclG_U_A_.glif.glif</string>
    <key>Yhookabove.loclGUA</key>
    <string>Y_hookabove.loclG_U_A_.glif.glif</string>
    <key>Ytilde.loclGUA</key>
    <string>Y_tilde.loclG_U_A_.glif.glif</string>
    <key>Cacute.loclPLK</key>
    <string>C_acute.loclP_L_K_.glif.glif</string>
    <key>Nacute.loclPLK</key>
    <string>N_acute.loclP_L_K_.glif.glif</string>
    <key>Oacute.loclPLK</key>
    <string>O_acute.loclP_L_K_.glif.glif</string>
    <key>Sacute.loclPLK</key>
    <string>S_acute.loclP_L_K_.glif.glif</string>
    <key>Zacute.loclPLK</key>
    <string>Z_acute.loclP_L_K_.glif.glif</string>
    <key>a</key>
    <string>a.glif.glif</string>
    <key>aacute</key>
    <string>aacute.glif.glif</string>
    <key>abreve</key>
    <string>abreve.glif.glif</string>
    <key>abreveacute</key>
    <string>abreveacute.glif.glif</string>
    <key>abrevedotbelow</key>
    <string>abrevedotbelow.glif.glif</string>
    <key>abrevegrave</key>
    <string>abrevegrave.glif.glif</string>
    <key>abrevehookabove</key>
    <string>abrevehookabove.glif.glif</string>
    <key>abrevetilde</key>
    <string>abrevetilde.glif.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif.glif</string>
    <key>acircumflexacute</key>
    <string>acircumflexacute.glif.glif</string>
    <key>acircumflexdotbelow</key>
    <string>acircumflexdotbelow.glif.glif</string>
    <key>acircumflexgrave</key>
    <string>acircumflexgrave.glif.glif</string>
    <key>acircumflexhookabove</key>
    <string>acircumflexhookabove.glif.glif</string>
    <key>acircumflextilde</key>
    <string>acircumflextilde.glif.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif.glif</string>
    <key>adotbelow</key>
    <string>adotbelow.glif.glif</string>
    <key>agrave</key>
    <string>agrave.glif.glif</string>
    <key>ahookabove</key>
    <string>ahookabove.glif.glif</string>
    <key>amacron</key>
    <string>amacron.glif.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif.glif</string>
    <key>aring</key>
    <string>aring.glif.glif</string>
    <key>aringacute</key>
    <string>aringacute.glif.glif</string>
    <key>atilde</key>
    <string>atilde.glif.glif</string>
    <key>ae</key>
    <string>ae.glif.glif</string>
    <key>aeacute</key>
    <string>aeacute.glif.glif</string>
    <key>b</key>
    <string>b.glif.glif</string>
    <key>c</key>
    <string>c.glif.glif</string>
    <key>cacute</key>
    <string>cacute.glif.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif.glif</string>
    <key>d</key>
    <string>d.glif.glif</string>
    <key>eth</key>
    <string>eth.glif.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif.glif</string>
    <key>ddotbelow</key>
    <string>ddotbelow.glif.glif</string>
    <key>dz</key>
    <string>dz.glif.glif</string>
    <key>dzcaron</key>
    <string>dzcaron.glif.glif</string>
    <key>e</key>
    <string>e.glif.glif</string>
    <key>eacute</key>
    <string>eacute.glif.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif.glif</string>
    <key>ecircumflexdotbelow</key>
    <string>ecircumflexdotbelow.glif.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif.glif</string>
    <key>edotbelow</key>
    <string>edotbelow.glif.glif</string>
    <key>egrave</key>
    <string>egrave.glif.glif</string>
    <key>ehookabove</key>
    <string>ehookabove.glif.glif</string>
    <key>emacron</key>
    <string>emacron.glif.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif.glif</string>
    <key>etilde</key>
    <string>etilde.glif.glif</string>
    <key>f</key>
    <string>f.glif.glif</string>
    <key>g</key>
    <string>g.glif.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif.glif</string>
    <key>h</key>
    <string>h.glif.glif</string>
    <key>hbar</key>
    <string>hbar.glif.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif.glif</string>
    <key>hdotbelow</key>
    <string>hdotbelow.glif.glif</string>
    <key>i</key>
    <string>i.glif.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif.glif</string>
    <key>iacute</key>
    <string>iacute.glif.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif.glif</string>
    <key>i.loclTRK</key>
    <string>i.loclT_R_K_.glif.glif</string>
    <key>idotbelow</key>
    <string>idotbelow.glif.glif</string>
    <key>igrave</key>
    <string>igrave.glif.glif</string>
    <key>ihookabove</key>
    <string>ihookabove.glif.glif</string>
    <key>ij</key>
    <string>ij.glif.glif</string>
    <key>imacron</key>
    <string>imacron.glif.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif.glif</string>
    <key>itilde</key>
    <string>itilde.glif.glif</string>
    <key>j</key>
    <string>j.glif.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif.glif</string>
    <key>k</key>
    <string>k.glif.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif.glif</string>
    <key>l</key>
    <string>l.glif.glif</string>
    <key>lacute</key>
    <string>lacute.glif.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif.glif</string>
    <key>ldot</key>
    <string>ldot.glif.glif</string>
    <key>lj</key>
    <string>lj.glif.glif</string>
    <key>lslash</key>
    <string>lslash.glif.glif</string>
    <key>m</key>
    <string>m.glif.glif</string>
    <key>n</key>
    <string>n.glif.glif</string>
    <key>nacute</key>
    <string>nacute.glif.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif.glif</string>
    <key>ndotaccent</key>
    <string>ndotaccent.glif.glif</string>
    <key>eng</key>
    <string>eng.glif.glif</string>
    <key>nj</key>
    <string>nj.glif.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif.glif</string>
    <key>o</key>
    <string>o.glif.glif</string>
    <key>oacute</key>
    <string>oacute.glif.glif</string>
    <key>obreve</key>
    <string>obreve.glif.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif.glif</string>
    <key>ocircumflexdotbelow</key>
    <string>ocircumflexdotbelow.glif.glif</string>
    <key>ocircumflexgrave</key>
    <string>ocircumflexgrave.glif.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif.glif</string>
    <key>odotbelow</key>
    <string>odotbelow.glif.glif</string>
    <key>ograve</key>
    <string>ograve.glif.glif</string>
    <key>ohookabove</key>
    <string>ohookabove.glif.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif.glif</string>
    <key>ohornacute</key>
    <string>ohornacute.glif.glif</string>
    <key>ohorndotbelow</key>
    <string>ohorndotbelow.glif.glif</string>
    <key>ohorngrave</key>
    <string>ohorngrave.glif.glif</string>
    <key>ohornhookabove</key>
    <string>ohornhookabove.glif.glif</string>
    <key>ohorntilde</key>
    <string>ohorntilde.glif.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif.glif</string>
    <key>omacron</key>
    <string>omacron.glif.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif.glif</string>
    <key>oslash</key>
    <string>oslash.glif.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif.glif</string>
    <key>otilde</key>
    <string>otilde.glif.glif</string>
    <key>oe</key>
    <string>oe.glif.glif</string>
    <key>p</key>
    <string>p.glif.glif</string>
    <key>thorn</key>
    <string>thorn.glif.glif</string>
    <key>q</key>
    <string>q.glif.glif</string>
    <key>r</key>
    <string>r.glif.glif</string>
    <key>racute</key>
    <string>racute.glif.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif.glif</string>
    <key>rdotbelow</key>
    <string>rdotbelow.glif.glif</string>
    <key>s</key>
    <string>s.glif.glif</string>
    <key>sacute</key>
    <string>sacute.glif.glif</string>
    <key>scaron</key>
    <string>scaron.glif.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif.glif</string>
    <key>scommaaccent</key>
    <string>scommaaccent.glif.glif</string>
    <key>sdotbelow</key>
    <string>sdotbelow.glif.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif.glif</string>
    <key>longs</key>
    <string>longs.glif.glif</string>
    <key>schwa</key>
    <string>schwa.glif.glif</string>
    <key>t</key>
    <string>t.glif.glif</string>
    <key>tbar</key>
    <string>tbar.glif.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif.glif</string>
    <key>uni021B</key>
    <string>uni021B_.glif.glif</string>
    <key>tdotbelow</key>
    <string>tdotbelow.glif.glif</string>
    <key>u</key>
    <string>u.glif.glif</string>
    <key>uacute</key>
    <string>uacute.glif.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif.glif</string>
    <key>udotbelow</key>
    <string>udotbelow.glif.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif.glif</string>
    <key>uhookabove</key>
    <string>uhookabove.glif.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif.glif</string>
    <key>uhornacute</key>
    <string>uhornacute.glif.glif</string>
    <key>uhorndotbelow</key>
    <string>uhorndotbelow.glif.glif</string>
    <key>uhorngrave</key>
    <string>uhorngrave.glif.glif</string>
    <key>uhornhookabove</key>
    <string>uhornhookabove.glif.glif</string>
    <key>uhorntilde</key>
    <string>uhorntilde.glif.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif.glif</string>
    <key>umacron</key>
    <string>umacron.glif.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif.glif</string>
    <key>uring</key>
    <string>uring.glif.glif</string>
    <key>utilde</key>
    <string>utilde.glif.glif</string>
    <key>v</key>
    <string>v.glif.glif</string>
    <key>w</key>
    <string>w.glif.glif</string>
    <key>wacute</key>
    <string>wacute.glif.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif.glif</string>
    <key>x</key>
    <string>x.glif.glif</string>
    <key>y</key>
    <string>y.glif.glif</string>
    <key>yacute</key>
    <string>yacute.glif.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif.glif</string>
    <key>ydotbelow</key>
    <string>ydotbelow.glif.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif.glif</string>
    <key>yhookabove</key>
    <string>yhookabove.glif.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif.glif</string>
    <key>z</key>
    <string>z.glif.glif</string>
    <key>zacute</key>
    <string>zacute.glif.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif.glif</string>
    <key>zdotbelow</key>
    <string>zdotbelow.glif.glif</string>
    <key>iacute_j.loclNLD</key>
    <string>iacute_j.loclN_L_D_.glif.glif</string>
    <key>y.loclGUA</key>
    <string>y.loclG_U_A_.glif.glif</string>
    <key>yacute.loclGUA</key>
    <string>yacute.loclG_U_A_.glif.glif</string>
    <key>ycircumflex.loclGUA</key>
    <string>ycircumflex.loclG_U_A_.glif.glif</string>
    <key>ydieresis.loclGUA</key>
    <string>ydieresis.loclG_U_A_.glif.glif</string>
    <key>ydotbelow.loclGUA</key>
    <string>ydotbelow.loclG_U_A_.glif.glif</string>
    <key>ygrave.loclGUA</key>
    <string>ygrave.loclG_U_A_.glif.glif</string>
    <key>yhookabove.loclGUA</key>
    <string>yhookabove.loclG_U_A_.glif.glif</string>
    <key>ytilde.loclGUA</key>
    <string>ytilde.loclG_U_A_.glif.glif</string>
    <key>cacute.loclPLK</key>
    <string>cacute.loclP_L_K_.glif.glif</string>
    <key>nacute.loclPLK</key>
    <string>nacute.loclP_L_K_.glif.glif</string>
    <key>oacute.loclPLK</key>
    <string>oacute.loclP_L_K_.glif.glif</string>
    <key>sacute.loclPLK</key>
    <string>sacute.loclP_L_K_.glif.glif</string>
    <key>zacute.loclPLK</key>
    <string>zacute.loclP_L_K_.glif.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif.glif</string>
    <key>gbreve.ss01</key>
    <string>gbreve.ss01.glif.glif</string>
    <key>gcircumflex.ss01</key>
    <string>gcircumflex.ss01.glif.glif</string>
    <key>gcommaaccent.ss01</key>
    <string>gcommaaccent.ss01.glif.glif</string>
    <key>gdotaccent.ss01</key>
    <string>gdotaccent.ss01.glif.glif</string>
    <key>f_f</key>
    <string>f_f.glif.glif</string>
    <key>fi</key>
    <string>fi.glif.glif</string>
    <key>fl</key>
    <string>fl.glif.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif.glif</string>
    <key>Delta</key>
    <string>D_elta.glif.glif</string>
    <key>Omega</key>
    <string>O_mega.glif.glif</string>
    <key>mu</key>
    <string>mu.glif.glif</string>
    <key>pi</key>
    <string>pi.glif.glif</string>
    <key>zero</key>
    <string>zero.glif.glif</string>
    <key>one</key>
    <string>one.glif.glif</string>
    <key>two</key>
    <string>two.glif.glif</string>
    <key>three</key>
    <string>three.glif.glif</string>
    <key>four</key>
    <string>four.glif.glif</string>
    <key>five</key>
    <string>five.glif.glif</string>
    <key>six</key>
    <string>six.glif.glif</string>
    <key>seven</key>
    <string>seven.glif.glif</string>
    <key>eight</key>
    <string>eight.glif.glif</string>
    <key>nine</key>
    <string>nine.glif.glif</string>
    <key>fraction</key>
    <string>fraction.glif.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif.glif</string>
    <key>uni2153</key>
    <string>uni2153.glif.glif</string>
    <key>uni2154</key>
    <string>uni2154.glif.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif.glif</string>
    <key>oneeighth</key>
    <string>oneeighth.glif.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif.glif</string>
    <key>backslash</key>
    <string>backslash.glif.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif.glif</string>
    <key>bullet</key>
    <string>bullet.glif.glif</string>
    <key>colon</key>
    <string>colon.glif.glif</string>
    <key>comma</key>
    <string>comma.glif.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif.glif</string>
    <key>exclam</key>
    <string>exclam.glif.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif.glif</string>
    <key>period</key>
    <string>period.glif.glif</string>
    <key>question</key>
    <string>question.glif.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif.glif</string>
    <key>slash</key>
    <string>slash.glif.glif</string>
    <key>underscore</key>
    <string>underscore.glif.glif</string>
    <key>quotesingle.loclGUA</key>
    <string>quotesingle.loclG_U_A_.glif.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif.glif</string>
    <key>braceright</key>
    <string>braceright.glif.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif.glif</string>
    <key>parenright</key>
    <string>parenright.glif.glif</string>
    <key>emdash</key>
    <string>emdash.glif.glif</string>
    <key>endash</key>
    <string>endash.glif.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif.glif</string>
    <key>uni2003</key>
    <string>uni2003.glif.glif</string>
    <key>enspace</key>
    <string>enspace.glif.glif</string>
    <key>uni2005</key>
    <string>uni2005.glif.glif</string>
    <key>space</key>
    <string>space.glif.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif.glif</string>
    <key>uni2004</key>
    <string>uni2004.glif.glif</string>
    <key>CR</key>
    <string>C_R_.glif.glif</string>
    <key>cent</key>
    <string>cent.glif.glif</string>
    <key>currency</key>
    <string>currency.glif.glif</string>
    <key>dollar</key>
    <string>dollar.glif.glif</string>
    <key>Euro</key>
    <string>E_uro.glif.glif</string>
    <key>florin</key>
    <string>florin.glif.glif</string>
    <key>uni20B2</key>
    <string>uni20B_2.glif.glif</string>
    <key>sterling</key>
    <string>sterling.glif.glif</string>
    <key>yen</key>
    <string>yen.glif.glif</string>
    <key>Ohm</key>
    <string>O_hm.glif.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif.glif</string>
    <key>divide</key>
    <string>divide.glif.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif.glif</string>
    <key>equal</key>
    <string>equal.glif.glif</string>
    <key>greater</key>
    <string>greater.glif.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif.glif</string>
    <key>increment</key>
    <string>increment.glif.glif</string>
    <key>infinity</key>
    <string>infinity.glif.glif</string>
    <key>integral</key>
    <string>integral.glif.glif</string>
    <key>less</key>
    <string>less.glif.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif.glif</string>
    <key>uni00B5</key>
    <string>uni00B_5.glif.glif</string>
    <key>minus</key>
    <string>minus.glif.glif</string>
    <key>multiply</key>
    <string>multiply.glif.glif</string>
    <key>notequal</key>
    <string>notequal.glif.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif.glif</string>
    <key>percent</key>
    <string>percent.glif.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif.glif</string>
    <key>plus</key>
    <string>plus.glif.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif.glif</string>
    <key>product</key>
    <string>product.glif.glif</string>
    <key>radical</key>
    <string>radical.glif.glif</string>
    <key>summation</key>
    <string>summation.glif.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif.glif</string>
    <key>bar</key>
    <string>bar.glif.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif.glif</string>
    <key>at</key>
    <string>at.glif.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif.glif</string>
    <key>copyright</key>
    <string>copyright.glif.glif</string>
    <key>registered</key>
    <string>registered.glif.glif</string>
    <key>section</key>
    <string>section.glif.glif</string>
    <key>trademark</key>
    <string>trademark.glif.glif</string>
    <key>degree</key>
    <string>degree.glif.glif</string>
    <key>estimated</key>
    <string>estimated.glif.glif</string>
    <key>uni2113</key>
    <string>uni2113.glif.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif.glif</string>
    <key>dagger</key>
    <string>dagger.glif.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif.glif</string>
    <key>acute</key>
    <string>acute.glif.glif</string>
    <key>breve</key>
    <string>breve.glif.glif</string>
    <key>caron</key>
    <string>caron.glif.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif.glif</string>
    <key>grave</key>
    <string>grave.glif.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif.glif</string>
    <key>macron</key>
    <string>macron.glif.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif.glif</string>
    <key>ring</key>
    <string>ring.glif.glif</string>
    <key>tilde</key>
    <string>tilde.glif.glif</string>
    <key>caron.alt</key>
    <string>caron.alt.glif.glif</string>
    <key>acute.loclPLK</key>
    <string>acute.loclP_L_K_.glif.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif.glif</string>
    <key>uni030C</key>
    <string>uni030C_.glif.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif.glif</string>
    <key>uni0326</key>
    <string>uni0326.glif.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif.glif</string>
    <key>uni030A</key>
    <string>uni030A_.glif.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif.glif</string>
    <key>uni02BC</key>
    <string>uni02B_C_.glif.glif</string>
    <key>firsttonechinese</key>
    <string>firsttonechinese.glif.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif.glif</string>
    <key>baraccent</key>
    <string>baraccent.glif.glif</string>
    <key>baraccentlong</key>
    <string>baraccentlong.glif.glif</string>
    <key>baraccentmedium</key>
    <string>baraccentmedium.glif.glif</string>
    <key>commaaccentinvert</key>
    <string>commaaccentinvert.glif.glif</string>
  </dict>
</plist>
