<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>28FEC71A-3216-461A-9782-A568D9731EC6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.lf.zero</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.tf.zero</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.zero</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
